[Unit]
Description=Naming Service container
Requires=docker.service
After=docker.service

[Service]
Restart=always
#ExecStartPre=/bin/mkdir -p /usr/local/etc/docker-naming-service-composed/
ExecStart=/usr/local/bin/docker-compose -f /usr/local/etc/docker-naming-service-composed/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /usr/local/etc/docker-naming-service-composed/docker-compose.yml down

[Install]
WantedBy=multi-user.target
